.formContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.formContainer form{
    width: 50%;
}

.formContainer form div{
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
}

.formContainer form div label{
    font-size: 2rem;
    width: 30%;
}

.formContainer form div input{
    width: 70%;
}