.mainPricing{
    background-color: #f8fafb;
}

.pricingContainer{
    text-align: center;
    background-color: #f8fafb;
    margin-bottom: var(--marginTop);
}

.pricingContainer > div {
    margin-bottom: 10px;
}

.pricingContainer p{
    font-size: 17px;
    color: var(--paragColor);
    text-align: center;
}

.pricingContainer h1{
    padding-top: var(--marginTop);
    color: #293745;
    font-size: 48px;
    font-weight: 800;
    margin-bottom: 6px;
    text-align: center;
}

.buttons{
    border: 1px solid #dae4ea;
    width: 20%;
    margin: 20px auto;
    border-radius: 6px;
}

.buttons button{
    font-weight: 600;
    font-size: 16px;
    font-family: montserrat;
    text-align: center;
    border:none;
    padding: 7px 18px;
    margin: 6px;
    cursor: pointer;
    border-radius: 6px;
}

.buttons button:first-child{
    background-color: #f8fafb;
    color: #3f4759;
}

.buttons button:last-child{
    background-color: #293745;
    color: #fff;
}

.pricingCardCont{
    width: 90%;
    margin: auto;
    display: flex;
    margin-bottom: var(--marginTop);
}

.priceCard {
    width: 30%;
    margin: auto;
    border: 1px solid #dae4ea;
    padding: 24px 16px 0;
    border-radius: 6px;
    background-color: #fff;
}

.priceCard h1, .summaryPrice h1{
    font-family: Montserrat,sans-serif;
    color: #293745;
    margin-bottom: 10px;
    text-align: left;
    font-weight: 600;
    font-size: 20px;
}

.priceCard p{
    font-family: lato,sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #798297;
    margin-bottom: 24px;
    height: 78px;
    text-align: left;
}

.priceCard h2, 
.summaryPrice h2{
    font-family: Montserrat,sans-serif;
    color: #293745;
    font-weight: 700;
    font-size: 36px;
    margin-bottom: 10px;
}

.priceCard button,
.summaryPrice button{
    padding: 10px;
    border-radius: 6px;
    background-color: var(--buttonBlue);
    font-family: Montserrat,sans-serif;
    font-weight: 700;
    font-size: 16px;
    border: none;
    color: #fff;
    width: 80%;
    cursor: pointer;
}

.priceCard h3{
    font-size: 16px;
    font-weight: 700;
    color: #798297;
    margin-top: 20px;
}

.priceCard ul li{
    font-family: lato,sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #798297;
    list-style-type: disc;
    text-indent: 4px;
    margin-bottom: 22px;
    margin-left: 40px;
    line-height: 26px;
}

/* PACKAGE CONTAINER */
.packageCont{
    display: flex;
    width: 75%;
    justify-content: space-between;
    margin: auto;
    margin-bottom: var(--marginTop);
}

.packageCont > div {
    display: flex;
    align-items: center;
    border: 1px solid #dae4ea;
    border-radius: 6px;
}

.packageDiv{
    padding: 30px;
    cursor: pointer;
}

.packageDiv:hover{
    border-color: var(--buttonBlue);
}

.packageDiv:hover + .smallHolder h1{
    color: var(--buttonBlue);
}

.smallHolder h1{
    font-family: montserrat, sans-serif;
    font-size: 32px;
    font-weight: 700;
    margin: 10px auto;
}

.smallHolder p{
    font-family: lato,sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #798297;
    margin-bottom: 24px;
}

.smallHolder a{
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
    color: var(--buttonBlue);
}

.womanChartCont{
    width: 80%;
    margin: var(--marginTop) auto;
    display: flex;
}

.womanChartCont > div:first-child{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.summaryPriceCont{
    width: 70%;
    display: flex;
}

.summaryPrice{
    width: 30%;
    border: 1px solid #dae4ea;
}

.summaryPrice div{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 20px auto 50px;
}

.summaryPrice h1, 
.summaryPrice h2,
.summaryPrice p{
    width: 90%;
    margin-left: auto;
}

.summaryPrice h2{
    margin-bottom:2px;
}

.summaryPrice p, 
.summaryPrice span{
    font-family: lato,sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #798297;
    margin-bottom: 24px;
}

.summaryPrice button{
    width: 80%;
    margin: auto;
}

