.homeContainer{
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.intro{
    width: 50%;
    margin: auto;
    text-align: center;
}

.intro p{
    padding-top: 4rem;
    font-size: 4.25rem;
    font-weight: 700;
    color: var(--colorThemeOne);
}

.intro h6{
    padding-top: 2.5rem;
    font-size: 1.875rem;
    font-weight: 200;
}