@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root{
  --colorThemeOne: #537FE7;
  --colorThemeTwo: #C0EEF2;
  --background:#ffffff;
  --colorThemeThree: #181823;
  --headingColor:#293745;
  --marginTop:50px;
  --marginBottom:50px;
  --smallMt:20px;
  --boxShadow:0 0 17px 3px rgb(184 184 184 / 50%);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body{
  max-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  font-size: 0.85rem;
  background-color: var(--background);
  font-family: Georgia, 'Times New Roman', Times, serif;
}
